html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft Yahei",Arial,Verdana;
}

.nav{
    width:40px;
    height:calc(100% - 100px);
    height:-webkit-calc(100% - 100px);
    /* background-color: #cdcdcd; */
    padding-right:2px;
    text-align: center;
    box-shadow:0px 0px 1px 0px rgba(170, 170, 170, 1);
    position: absolute;
}
.nav-icon img{
    width: 20px;
    height: 20px;
    padding: 10px;
}
.nav-btm{
    position: absolute;
    bottom: 0;
    /* align-self: flex-end; */
}
.nav2{
    position: fixed;
    width: 160px;
    height:calc(100% - 120px);
    height:-webkit-calc(100% - 120px);
    top: 0;
    left: 42px;
    text-align: left;
    padding: 20px 5px 0;
    font-size: 13px;
    /* background-color: #cdcdcd; */
    box-shadow: 0px 0px 1px 0px rgba(170, 170, 170, 1);
}

.title{
    margin: 10px 0;
    box-shadow: 0px 1px 0px 0px rgba(170, 170, 170, 1);
}
.drop,.item,.item2{
    padding: 5px 0px 5px 20px;
}

.hidden{
    display: none;
}

.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.drop-title{
    display: flex;
    align-items: baseline;
}

.icon{
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 2px;
    
}

.icon-fold{
    background-image: url('../icon/fold.png');
    width: 10px;
    height: 10px;
}

.icon-unfold{
    background-image: url('../icon/unf.png');
    width: 10px;
    height: 10px;
}

.icon-item{
    background-image: url('../icon/unf.png');
    width: 10px;
    height: 10px;
}

.nav-icon-click,.item-click{
    background-color: #efefef;
    border-left: 3px solid #157d2e;
}

.player{
    width: 100%;
    height:100px;
    /* left:43px; */
    position: absolute;
    bottom: 0;
    background-color: #555;
    color: white;
}

.pro-bar{
    width: -webkit-fill-available;
    margin: 0 10px;
}
.progress{
   
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    height: 20px;
}
.progress progress{
    /* display: inline-block; */
    height: 2px;
    width: -webkit-calc(100% - 80px);
    position: absolute;
}
.progress span{
    font-size: 13px;
}
#duration{
    align-self: flex-end;
}
.play-info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 6px;
}
.info-bar{
    display: flex;
    flex-direction: row;
}
.cover{
    border: none;
    background-color: #555;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../icon/avatar.jpg");
    width: 40px;
    height: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.info-name{
    font-size: 13px;
}
.artist{
    font-size: 12px;
    color: #cdcdcd;
}
.btn-row{
    align-items: center;
    height: 25px;
    align-self: flex-end;
    margin-left: calc(100% - 500px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.btn-row button{
    border: none;
    background-color: #555;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.control button{
    width: 25px;
    height: 25px;
    margin: 0 15px;
}
.status button{
    width: 20px;
    height: 20px;
    margin: 0 15px;
}
.last{
    background-image: url("../icon/last.png");
}
.next{
    background-image: url("../icon/next.png");
}
.play{
    background-image: url("../icon/play.png")
}
.pause{
    background-image: url("../icon/pause.png")    
}
.sound{
    background-image: url("../icon/sound.png")
}
.like{
    background-image: url("../icon/like.png")
}
.loop{
    background-image: url("../icon/shuffle.png")
}