
.dateRow{
    text-align: right;
}
.day{
    font-size: 35px;
    right: 40px;
    position: absolute;
}
.date{
    position: absolute;
    top:50px;
    right: 15px;
}
.slash{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 50px;
    transform:rotate(10deg);
    -webkit-transform: rotate(10deg);
}
table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 25px;
    /* border: 2px solid rgb(200,200,200); */
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td {
    /* border: 1px solid rgb(190,190,190); */
    padding: 15px 25px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

td {
    text-align: left;
    max-width: 256px;
}
tr:nth-child(even) td {
    background-color: #fff;
}

tr:nth-child(odd) td {
    background-color: rgb(250,250,250);
}
.playAll{
    border: 1px solid #136e29;
    /* text-align: right; */
    box-shadow: 1px 1px 1px #1a9a39;
    /* padding-left: 30px; */
    color: #136e29;
    width: fit-content;
    /* margin-left: 20px; */
    margin: 0 10px 10px 0;
    border-radius: 5px;
    padding: 5px 10px;
    align-self: flex-end;
    background: #fff;
    font-family: Microsoft Yahei;
}
.reList{
    position: absolute;
    top:120px;
    width: -webkit-calc(100% - 10px);
    display: flex;
    flex-direction: column;
}
