
.dateRow{
    text-align: left;
    font-size: 65px;
    /* padding-top: 25px; */
    padding-left: 20px;
    font-weight: 300;
    /* font-style: italic; */
}
/* .day{
    font-size: 35px;
    right: 40px;
    position: absolute;
} */
.date{
    position: absolute;
    top: 40px;
    left: 150px;
    font-size: 35px;
}
/* .slash{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 50px;
    transform:rotate(10deg);
    -webkit-transform: rotate(10deg);
} */
table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 25px;
    /* border: 2px solid rgb(200,200,200); */
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td {
    /* border: 1px solid rgb(190,190,190); */
    padding: 15px 25px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

td {
    text-align: left;
    max-width: 256px;
}
tr:nth-child(even) td {
    background-color: #fff;
}

tr:nth-child(odd) td {
    background-color: rgb(250,250,250);
}
.re-btn-row{
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}
.re-btn-row > button{
    margin-right: 20px;
    border: 1px solid #000;
    border: 1px solid #000;
    /* margin: 0 10px 10px 0; */
    /* border-radius: 5px; */
    padding: 5px 10px;
    line-height: 20px;
    align-self: flex-end;
    background: #fff;
    font-family: Microsoft Yahei;
}
.reList{
    /* position: absolute;
    top:60px; */
    width: -webkit-calc(100% - 10px);
    height: -webkit-calc(100% - 140px);
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    overflow-x: hidden;
}


.reList::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.reList::-webkit-scrollbar-thumb {
    /*滚动条方块*/
    border-radius: 6px;
    /* -webkit-box-shadow: inset 0 0 5px #d4d4d4; */
    background: #d4d4d4;
}

.reList::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
    /* border-radius: 10px; */
    /* background: #EDEDED; */
    border: none;
    background: none;
}
