.dateRow {
    text-align: left;
    font-size: 65px;
    /* padding-top: 25px; */
    padding-left: 20px;
    font-weight: 300;
    /* font-style: italic; */
}

/* .day{
    font-size: 35px;
    right: 40px;
    position: absolute;
} */
.date {
    position: absolute;
    top: 40px;
    left: 150px;
    font-size: 35px;
}

/* .slash{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 50px;
    transform:rotate(10deg);
    -webkit-transform: rotate(10deg);
} */
.reList table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 25px;
    /* border: 2px solid rgb(200,200,200); */
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.reList .no {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    font-family: Adele;
    font-style: italic;

}

.reList tr:hover {
    color: #488286;
    font-size: 15px;
    font-weight: 300;

}

.reList td {
    /* border: 1px solid rgb(190,190,190); */
    padding: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.reList .info1,
.reList .info2,
.reList .info3 {
    width: 200px;
    max-width: 250px;
}

.re-btn-row {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.re-btn-row>button {
    margin-right: 20px;
    border: 1px solid #000;
    border: 1px solid #000;
    /* margin: 0 10px 10px 0; */
    /* border-radius: 5px; */
    padding: 5px 10px;
    line-height: 20px;
    align-self: flex-end;
    background: #fff;
    font-family: Microsoft Yahei;
}

.reList {
    /* position: absolute;
    top:60px; */
    /* width: -webkit-calc(100% - 10px); */
    height: -webkit-calc(100% - 170px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(224, 224, 224, 0.1);
    /* border: 1px solid; */
    border-radius: 15px 15px 0 0;
    padding: 10px 5px;
    border-bottom: 0;
}


.reList::-webkit-scrollbar {
    margin-top: 10px;
    margin-right: 5px;
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.reList::-webkit-scrollbar-thumb {
    /*滚动条方块*/
    border-radius: 6px;
    /* -webkit-box-shadow: inset 0 0 5px #d4d4d4; */
    background: #d4d4d4;
}

.reList::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
    /* border-radius: 10px; */
    /* background: #EDEDED; */
    border: none;
    background: none;
    margin-top: 15px;
}