.section{
    visibility: hidden;
}
.section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    /* transform: translateX(0); */
    /* transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out; */
  }