html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei"
}

.nav{
    width:40px;
    height: 100%;
    /* background-color: #cdcdcd; */
    text-align: center;
    box-shadow:0px 0px 1px 0px rgba(170, 170, 170, 1);
}
.nav-icon img{
    width: 20px;
    height: 20px;
    padding: 10px;
}
.nav-btm{
    position: absolute;
    bottom: 0;
}
.nav2{
    position: fixed;
    width: 160px;
    height: 100%;
    top: 0;
    left: 40px;
    text-align: left;
    padding: 20px 5px;
    font-size: 13px;
    /* background-color: #cdcdcd; */
    box-shadow: 0px 0px 1px 0px rgba(170, 170, 170, 1);
}

.title{
    margin: 10px 0;
    box-shadow: 0px 1px 0px 0px rgba(170, 170, 170, 1);
}
.drop,.item,.item2{
    padding: 5px 0px 5px 20px;
}

.hidden{
    display: none;
}

.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.drop-title{
    display: flex;
    align-items: baseline;
}

.icon{
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 2px;
    
}

.icon-fold{
    background-image: url('../icon/fold.png');
    width: 10px;
    height: 10px;
}

.icon-unfold{
    background-image: url('../icon/unf.png');
    width: 10px;
    height: 10px;
}

.icon-item{
    background-image: url('../icon/unf.png');
    width: 10px;
    height: 10px;
}

.nav-icon-click,.item-click{
    background-color: #efefef;
    border-left: 3px solid #157d2e;
}
